ul.BottleList {
  background-color: #8E8E93;
  list-style: none;
  padding-left: 0px;
}

.BottleList li {
  margin: 2px 0 0 0;
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: #000000;
  font-size: 17px;
  text-decoration: none;
  color: white;
}
.BottleList li:visited {
  text-decoration: none;
}
.BottleList a {
  text-decoration: none;
  color: white;
}
.BottleList img {
  padding-left: 50px;
  transform: translate(-50%);
  width: auto;
}
.BottleList text {
  font-size: 20px;
  position: absolute;
  left: 45px;
  padding-top: 4px;
}
